<!doctype html>
<title>{% block title %}{% endblock %} - Planning Tools</title>
<nav>
  <h1><a href="/">Planning Tools</a></h1>
  <p><a href="https://en.wikipedia.org/wiki/Hierarchical_clustering">Agglomerative hierarchical clustering</a> for symmetric matrices, starting from:</p>
  <ul>
    <li><a href="/cardsort/">card sort data</a></li>
    <li><a href="/matrix/">pairwise comparisons</a></li>
    <li><a href="/similarity/">fielded data</a></li>
  </ul>
</nav>
<hr>
<section class="content">
  <header>
    {% block header %}{% endblock %}
  </header>
  {% for message in get_flashed_messages() %}
    <div class="flash">{{ message }}</div>
  {% endfor %}
  {% block content %}{% endblock %}
</section>
