<!doctype html>
<html lang="en">
  <head>
    <title>{% block title %}{% endblock %} - Planning Tools</title>
    <style>
      table {
        left: 50%;
        margin: 0 auto;
        position: absolute;
        top: 50%;
        transform: translate(-50%, -50%);
      }
      th {
        text-align: right;
        vertical-align: top;
      }
      th, tr {
        padding: 0.5em;
      }
    </style>
  </head>
  <body>
    {% for message in get_flashed_messages() %}
      <div class="flash">{{ message }}</div>
    {% endfor %}

    <h1>Planning Tools</h1>
    <form action="/" method="post" enctype="multipart/form-data">
      <table>
        <tr>
          <th><label for="file">Upload data:</label></th>
	  <td><input type="file" name="file" id="file"></td>
	</tr>
        <tr>
          <th><label for="file_type">This file contains:</label></th>
	  <td>
            <input name="file_type" type="radio" value="card sort data"/> card sort data (<a href="#">?</a>)<br/>
	    <input checked="checked" name="file_type" type="radio" value="pairwise comparisons"/> pairwise comparisons (<a href="#">?</a>)<br/>
            <input name="file_type" type="radio" value="fielded data"/> fielded data (<a href="#">?</a>)
          </td>
        </tr>
	<tr>
          <th><label for="linkage">Cluster using this linkage method (<a href="#">?</a>):</label></th>
          <td>
            <input checked="checked" name="linkage" type="radio" value="single"/> single<br/>
            <input name="linkage" type="radio" value="complete"/> complete<br/>
            <input name="linkage" type="radio" value="average"/> average<br/>
            <input name="linkage" type="radio" value="weighted"/> weighted<br/>
            <input name="linkage" type="radio" value="median"/> median<br/>
            <input name="linkage" type="radio" value="ward"/> ward
          </td>
        </tr>
        <tr>
          <th></th>
          <td><input type="submit" value="Submit" name="submit"></td>
        </tr>
      </table>
    </form>
